@media (max-width:1399.98px) {
  .lands_to_landmark .slider_item {
    margin: 0 20px;
  }

  .lands_to_landmark .icon.right {
    right: 0;
  }

  .lands_to_landmark .icon.left {
    left: 0;
  }

  .why_we_are .overlay .info_item button {
    padding: 21px;
    min-height: 192px;
  }

  .section_title .title {
    font-size: 28px;
  }

  .contact_area .contact_item {
    width: 305px;
    height: 305px;
  }

  .contact_area a {
    width: 305px !important;
    height: 305px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .why_we_are .overlay .info_item .details_box {
    height: 450px;
  }
}

@media (max-width:1199.98px) {
  .main_menu .menu ul li+li {
    margin-left: 20px;
  }

  .main_menu .search {
    margin-left: 30px;
  }

  .search_popup_box .project_match {
    padding: 20px;
    padding-top: 150px;
  }

  .search_popup_box .search_fields {
    padding: 20px;
    padding-top: 150px;
  }

  .search_popup_box .text {
    padding-right: 20px;
    padding-top: 150px;
  }

  .search_popup_box .project_match .project_container .image {
    margin-right: 18px;
  }

  .search_popup_box .project_match .project_container .pro_text .pro_title {
    font-size: 18px;
  }

  .why_we_are .overlay .info_item button {
    min-height: 160px;
  }

  .why_we_are .overlay .info_item .details_box {
    top: 0;
    left: 0;
  }

  .project_search_area .search_box {
    padding-top: 50px;
    background-color: var(--primary);
    padding-bottom: 50px;
  }

  .contact_area .contact_item .title {
    font-size: 22px;
  }

  .projects_slider .slider_item {
    height: 175px;
  }

  .contact_area .contact_item {
    width: 260px;
    height: 260px;
  }

  .contact_area a {
    width: 260px !important;
    height: 260px;
  }

  .project_search_area .search_map {
    height: 400px;
  }

  .about_area .about_us .text {
    padding: 24px;
    padding-left: 0px;
  }

  .breadcrumb_area .overlay {
    padding: 230px 0;
  }

  .about_area .about_us .text .title {
    font-size: 32px;
  }

  .who_we_are .text {
    padding-left: 0;
  }

  .our_approach .overlay .title {
    font-size: 32px;
  }

  .about_area .our_logo .title {
    font-size: 32px;
  }

  .mission_vision_area .mission_item .box {
    margin-right: 30px;
  }

  .mission_vision_area .mission_item:nth-child(2n) .box {
    margin-left: 30px;
  }

  .board_of_director .director_item .image {
    width: 280px;
    height: 280px;
    margin-right: 30px;
  }

  .board_of_director .director_item:nth-child(2n) .image {
    margin-left: 30px;
  }

  .management_team .ceo .image {
    margin-right: 30px;
  }

  .news_events .news_item .text {
    padding: 24px;
  }

  .news_events .news_item .text .title {
    font-size: 16px;
  }
}

@media (max-width:991.98px) {
  p {
    font-size: 15px;
  }

  .header .main_menu {
    padding: 10px 0;
  }

  .main_menu .menu {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: var(--white);
    z-index: 99;
    display: block !important;
    padding-top: 50px;
    transition: all 0.3s ease;
  }

  .main_menu .menu ul li {
    position: relative;
    display: block !important;
    width: 100%;
  }

  .main_menu .menu ul li a {
    color: var(--black);
    line-height: 45px;
    padding: 0 24px;
    display: block;
    width: 100%;
    position: relative;
  }

  .main_menu .menu ul li a i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }

  .main_menu .menu ul li+li {
    margin-left: 0;
  }

  .main_menu .sub-menu {
    left: 24px !important;
  }

  .main_menu .sub-menu li a {
    line-height: 42px !important;
  }

  .main_menu .search {
    margin-top: 30px;
  }

  .main_menu .menu ul li a::before {
    background-color: var(--primary);
    left: 24px;
  }

  .search_popup_box .text {
    padding-right: 40px;
    padding-top: 40px;
    padding-left: 20px;
  }

  .search_popup_box .overlay {
    padding-left: 0px;
  }

  .search_popup_box .search_fields {
    padding: 20px;
    padding-top: 40px;
    margin-top: 30px;
  }

  .main_menu .search .search_btn:hover {
    background-color: var(--black);
    color: var(--white);
  }


  .search_popup_box .project_match {
    padding: 20px;
    padding-top: 40px;
    margin-top: 30px;
  }

  .mobile_close_menu {
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .control_mobile_menu {
    background-color: var(--white);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: var(--primary);
    border-radius: 4px;
    cursor: pointer;
  }

  .show_mobile_menu {
    right: 0 !important;
  }

  .about_area .our_logo .text {
    padding-left: 0;
  }

  .mission_vision_area .mission_item .box {
    width: 255px;
    height: 255px;
  }

  .management_team .team_title {
    font-size: 30px;
  }

  .management_team .ceo {
    display: block;
  }

  .management_team .ceo .image {
    margin-bottom: 30px;
  }

  .management_team .team_item {
    padding: 20px;
    height: auto;
    margin-bottom: 30px;
  }

  .companies_area .text .title {
    font-size: 30px;
  }

  .clients_area .text .title {
    font-size: 30px;
  }

  .csr_area .text .title {
    font-size: 30px;
  }

  .projects_item {
    width: 50%;
  }

  .projects_item .info {
    background-color: var(--white);
    width: 100%;
    padding: 30px 30px;
  }

  .news_details_area .text .title {
    font-size: 30px;
  }

  .career_area .top_info .overlay .title {
    font-size: 30px;
  }

  .breadcrumb_area .overlay {
    padding: 150px 0;
  }

  .career_area .form_area .title {
    font-size: 30px;
  }
}

@media (max-width:767.98px) {
  .search_popup_box .search_fields {
    height: auto;
  }

  .search_popup_box {
    overflow-Y: auto;
  }

  .mission_vision_area .mission_item {
    display: block;
  }

  .mission_vision_area .mission_item .box {
    margin-bottom: 30px;
  }

  .mission_vision_area .mission_item:nth-child(2n) .box {
    margin-left: 0;
  }

  .board_of_director .director_item {
    display: block;
  }

  .board_of_director .director_item .image {
    margin-bottom: 30px;
  }

  .board_of_director .director_item:nth-child(2n) .text {
    text-align: left;
  }

  .board_of_director .director_item:nth-child(2n) .image {
    margin-left: 0;
  }

  .clients_area .text .title {
    font-size: 24px;
  }

  .companies_area .text .title {
    font-size: 24px;
  }

  .contact_areas .contact_top_info .image {
    width: 100%;
    height: 388px;
  }

  .contact_areas .contact_top_info .text {
    width: 100%;
  }

  .contact_areas .contact_main .form_area .title {
    font-size: 30px;
  }

  .contact_areas .contact_top_info .text {
    padding: 30px;
  }

  .project_details_area .project_text .solutions .solutions_info li {
    font-size: 16px;
  }

  .project_details_area .location {
    height: 400px;
  }

  .project_details_area .video_area .video_main .play_icon i {
    color: var(--white);
    font-size: 17px;
    padding: 15px 31px;
    border-radius: 10px;
    background-color: red;
  }

  .project_details_area .vr_tour .vr_button {
    font-size: 25px;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--primary);
    display: inline-block;
    padding: 10px 37px;
    border-radius: 3px;
  }
}

@media (max-width:575.98px) {
  .container-fluid {
    padding: 0 12px;
  }

  .section_title .title {
    font-size: 24px;
  }

  .search_popup_box .overlay .close_search_popup {
    position: absolute;
    top: 0;
    right: 0;
  }

  .banner_area .banner_content .info {
    width: 340px;
    height: 340px;
  }

  .banner_area .banner_menus a:nth-child(2) {
    bottom: 30px;
  }

  .banner_area .banner_menus a:last-child {
    position: absolute;
    top: 67%;
    right: 8px;
    transform: rotate(-55deg);
  }

  .banner_area .banner_menus a:first-child {
    position: absolute;
    top: 66%;
    left: 31px;
    transform: rotate(51deg);
  }

  .about_area .about_us .text {
    padding-left: 12px;
  }

  .breadcrumb_area .content .title {
    font-size: 32px;
    line-height: 46px;
  }

  .board_of_director .director_item {
    padding: 20px;
  }

  .management_team .ceo .image {
    width: 100%;
    height: auto;
  }

  .management_team .ceo {
    padding: 20px;
  }

  .management_team .team_title {
    font-size: 24px;
  }

  .projects_area .projects_btn button {
    padding: 6px 17px;
    margin-right: 0;
  }

  .projects_item {
    width: 100%;
  }
}