/*=============================
	 Fonts
===============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*=============================
	01. Variable CSS start
===============================*/
:root {
	--body-font-family: 'Poppins', sans-serif;
	--primary: #3D5EE1;
	--black: #171717;
	--background: #f2f2f2;
	--white: #ffffff;
	--body-font-size: 16px;
	--body-font-weight: 400;
	--body-line-height: 1.6em;
	--transision: all 0.3s ease-out 0s;
	--border: #d3d3d3;
}


/*=============================
	02. Common CSS start
===============================*/
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	color: var(--black);
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}


a,
span,
small {
	display: inline-block;
}

a,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	text-decoration: none;
}

a:focus,
.btn:focus,
button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}


ul,
ol {
	margin: 0;
	padding: 0;
}

p {
	font-size: var(--body-font-size);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
	margin: 0;
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

*::-moz-selection {
	background: var(--primary);
	color: var(--white);
	text-shadow: none;
}

::-moz-selection {
	background: var(--primary);
	color: var(--white);
	text-shadow: none;
}

::selection {
	background: var(--primary);
	color: var(--white);
	text-shadow: none;
}

.container-fluid {
	padding: 0 50px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pt-80 {
	padding-top: 80px;
}

/* section title */
.section_title {
	margin-bottom: 50px;
}

.section_title .title {
	font-size: 34px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
	line-height: 140%;
}

/* common button */
.common_btn {
	background-color: var(--primary);
	font-size: 16px;
	font-weight: 500;
	color: var(--white);
	padding: 14px 24px;
	border-radius: 2px;
	margin-top: 30px;
}

.common_btn:hover {
	background-color: var(--white);
	color: var(--primary);
}


/* Preloader start*/
#preloader {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--black);
	z-index: 9999;
	width: 100%;
	height: 100%;
}

.loader {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	transform: rotate(45deg);
}

.loader::before {
	content: '';
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0;
	top: -24px;
	animation: animloader 4s ease infinite;
}

.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: rgba(255, 255, 255, 0.85);
	animation: animloader2 2s ease infinite;
}

@keyframes animloader {
	0% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}

	12% {
		box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}

	25% {
		box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}

	37% {
		box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
	}

	50% {
		box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
	}

	62% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
	}

	75% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
	}

	87% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
	}

	100% {
		box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
	}
}

@keyframes animloader2 {
	0% {
		transform: translate(0, 0) rotateX(0) rotateY(0);
	}

	25% {
		transform: translate(100%, 0) rotateX(0) rotateY(180deg);
	}

	50% {
		transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
	}

	75% {
		transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
	}

	100% {
		transform: translate(0, 0) rotateX(0) rotateY(360deg);
	}
}

/*=============================
	Header part
===============================*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.main_menu {
	background-color: rgba(0, 0, 0, 0.6);
}

.main_menu .menu ul li {
	display: inline-block;
	position: relative;
}

.main_menu .menu ul li+li {
	margin-left: 30px;
}

.main_menu .menu ul li a {
	color: var(--white);
	line-height: 70px;
	font-weight: 400;
	position: relative;
}

.main_menu .menu ul li a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--white);
	content: "";
	transition: var(--transision);
}

.main_menu .menu ul li a i {
	font-size: 11px;
	margin-left: 2px;
}

.main_menu .menu ul li a:hover::before {
	width: 35px;
}

.main_menu .search {
	margin-left: 60px;
}

.main_menu .search .search_btn {
	border: 0;
	background-color: var(--primary);
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 80px;
	color: var(--white);
}

.main_menu .search .search_btn:hover {
	background-color: var(--white);
	color: var(--primary);
}

.main_menu .sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 230px;
	background-color: var(--background);
	padding: 0px 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0;
	border: 1px solid var(--border-colour);
	margin-top: 20px;
	z-index: 9;
}

.main_menu .sub-menu li {
	margin-left: 0 !important;
	display: block !important;
}

.main_menu .sub-menu li a {
	color: var(--black) !important;
	font-size: 15px;
	font-weight: 500;
	line-height: 26px !important;
	padding: 10px 20px;
	width: 100%;
	background-color: transparent;
}

.main_menu .sub-menu li a::before {
	display: none;
}

.main_menu .sub-menu li a:hover {
	color: var(--primary);
	background-color: var(--primary);
	color: var(--white) !important;
}

.main_menu ul li:hover>.sub-menu {
	margin-top: 0;
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.search_popup_box {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}

.search_popup_box .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding-left: 50px;
}

.search_popup_box .overlay .close_search_popup {
	position: absolute;
	top: 30px;
	right: 30px;
}

.search_popup_box .overlay .close_search_popup button {
	color: var(--white);
	background-color: transparent;
	border: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
}

.search_popup_box .text {
	color: var(--white);
	padding-right: 60px;
	padding-top: 260px;
}

.search_popup_box .text .title {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
}

.search_popup_box .search_fields {
	background-color: #292626;
	height: 100vh;
	padding: 50px;
	padding-top: 250px;
}

.search_popup_box .search_fields .input_groups {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.search_popup_box .search_fields .input_groups label {
	font-size: 16px;
	font-weight: 600;
	color: var(--white);
}

.search_popup_box .search_fields .input_groups input {
	width: 100%;
	height: 45px;
	background-color: transparent;
	border: 0;
	color: var(--white);
}

.search_popup_box .search_fields .input_groups select {
	width: 100%;
	height: 45px;
	background-color: transparent;
	border: 0;
	color: var(--white);
}

.search_popup_box .search_fields .input_groups option {
	color: var(--black);
}

.search_popup_box .project_match {
	background-color: var(--black);
	height: 100vh;
	padding: 50px;
	padding-top: 250px;
}

.search_popup_box .project_match .title {
	color: var(--white);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}

.search_popup_box .project_match .project_container {
	height: calc(100vh - 310px);
	overflow-y: auto;
}

.search_popup_box .project_match .project_container .image {
	margin-right: 30px;
}

.search_popup_box .project_match .project_container ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.search_popup_box .project_match .project_container .pro_text .pro_title {
	font-size: 20px;
	font-weight: 600;
	color: var(--white);
	margin-bottom: 5px;
}

.search_popup_box .project_match .project_container .pro_text p {
	color: #aaaaaa;
}

.sticky-menu {
	position: fixed;
	left: 0;
	margin: auto;
	top: 0;
	width: 100%;
	background-color: var(--black);
	animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	border-radius: 0;
}

#header-fixed-height.active-height {
	display: block;
	height: 70px;
}

.header.sticky-menu .top_header {
	display: none;
}

.header.sticky-menu .middle_header {
	display: none;
}

/*=============================
	Banner area part
===============================*/
.banner_area .slider_item {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	min-height: 100vh;
}

.banner_area .banner_slider .icon {
	width: 40px;
	height: 40px;
	background-color: var(--white);
	border: 1px solid var(--white);
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	z-index: 9;
	top: 50%;
	transform: translateY(-50%);
	color: var(--primary);
	cursor: pointer;
	font-size: 16px;
	transition: var(--transision);
}

.banner_area .banner_slider .icon:hover {
	background-color: var(--primary);
	color: var(--white);
	border-color: var(--primary);
}

.banner_area .banner_slider .icon.left {
	left: 30px;
}

.banner_area .banner_slider .icon.right {
	right: 30px;
}

.banner_area .banner_content .info {
	width: 400px;
	height: 400px;
	border: 1px solid var(--white);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner_area .banner_content .info::before {
	background-color: rgba(0, 0, 0, 0.5);
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	border-radius: 50%;
	transition: var(--transision);
}

.banner_area .banner_content .icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner_area .banner_content .icon i {
	color: #232F3E;
	font-size: 44px;
	font-weight: 500;
	text-align: center;
	line-height: 100px;
}

.banner_area .banner_content .icon::after {
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border: 20px solid rgba(255, 255, 255, 0.9);
	border-radius: 100%;
	animation-name: ripple;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	z-index: -1;
}

.banner_area .banner_content .icon::before {
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border: 20px solid rgba(255, 255, 255, 0.9);
	border-radius: 100%;
	animation-name: ripple;
	animation-duration: 3s;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	z-index: -1;
}

@keyframes ripple {
	from {
		opacity: 1;
		transform: scale3d(0.75, 0.75, 1);
	}

	to {
		opacity: 0;
		transform: scale3d(2, 2, 1);
	}
}

.banner_area .banner_menus a {
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
}

.banner_area .banner_menus a:hover {
	text-decoration: underline;
}

.banner_area .banner_menus a:first-child {
	position: absolute;
	top: 72%;
	left: 46px;
	transform: rotate(51deg);
}

.banner_area .banner_menus a:nth-child(2) {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.banner_area .banner_menus a:last-child {
	position: absolute;
	top: 72%;
	right: 25px;
	transform: rotate(-48deg);
}

.banner_area .banner_content .info:hover::before {
	width: 100%;
	height: 100%;
}

.banner_area .banner_content .info:hover .banner_menus a {
	visibility: visible;
	opacity: 1;
}

/*=============================
	Lands to landmak part
===============================*/
.lands_to_landmark {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: top center !important;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.lands_to_landmark .container-fluid {
	position: relative;
	z-index: 9;
}

.lands_to_landmark::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 250, 250, 0.9);
	content: "";
}


.lands_to_landmark .slider_item {
	margin: 0 50px;
	border: 1px solid var(--border);
}

.lands_to_landmark .slider_item .image {
	overflow: hidden;
}

.lands_to_landmark .slider_item .image img {
	transition: var(--transision);
}

.lands_to_landmark .slider_item:hover .image img {
	transform: scale(1.1) rotate(3deg);
}

.lands_to_landmark .icon {
	width: 40px;
	height: 40px;
	background-color: var(--primary);
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	z-index: 9;
	top: 50%;
	transform: translateY(-50%);
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	transition: var(--transision);
}

.lands_to_landmark .icon:hover {
	background-color: var(--black);
	color: var(--white);
}

.lands_to_landmark .icon.left {
	left: 30px;
}

.lands_to_landmark .icon.right {
	right: 30px;
}

.lands_to_landmark .slider_item .text {
	margin-top: 20px;
	color: var(--black);
	padding: 0 24px 20px;
}

.lands_to_landmark .slider_item .text .title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
}

.lands_to_landmark .slider_item .text p {
	font-size: 15px;
}

.lands_to_landmark .slider_item .text .badges {
	background-color: var(--primary);
	border-radius: 3px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	;
	padding: 4px 20px;
	color: var(--white);
	margin-top: 10px;
}

/*=============================
	Why we area part
===============================*/
.why_we_are {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed !important;
}

.why_we_are .overlay {
	padding-top: 80px;
	padding-bottom: 80px;
	background: rgba(0, 0, 0, 0.7);
}

.why_we_are .overlay .info_item button {
	background-color: var(--white);
	padding: 30px;
	min-height: 250px;
	font-size: 18px;
	color: var(--black);
	border: 0;
}

.why_we_are .overlay .info_item button:hover {
	background-color: var(--primary);
	color: var(--white);
}

.why_we_are .overlay .info_item .details_box {
	position: absolute;
	top: 0;
	left: -400px;
	width: 400px;
	height: 524px;
	background-color: var(--white);
	z-index: 9;
	transition: var(--transision);
	opacity: 0;
	visibility: hidden;
	text-align: left;
	padding: 30px;
	border-right: 4px solid var(--primary);
	border-left: 4px solid var(--primary);
}

.why_we_are .overlay .info_item:hover .details_box {
	opacity: 1;
	visibility: visible;
}

.why_we_are .overlay .info_item .details_box .title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}


/* .why_we_are .overlay .info_item:hover .details_box {
	opacity: 1;
	visibility: visible;
} */

/*=============================
	Project search map part
===============================*/

.project_search_area .search_box {
	padding-top: 80px;
	background-color: var(--primary);
}

.project_search_area .search_box .input_groups input {
	width: 100%;
	height: 50px;
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 0 20px;
	font-size: 15px;
	font-weight: 400;
	transition: var(--transision);
}

.project_search_area .search_box .input_groups input:focus {
	border-color: var(--black);
}

.project_search_area .search_box .input_groups button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 4px;
	border: 0;
	background-color: var(--primary);
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 80px;
	color: var(--white);
	border-radius: 4px;
}

.project_search_area .search_box .input_groups select {
	width: 100%;
	height: 50px;
	border: 1px solid var(--border);
	background-color: var(--white);
	border-radius: 5px;
	padding: 0 20px;
	font-size: 15px;
	font-weight: 400;
	transition: var(--transision);
}

.project_search_area .search_box .input_groups select:focus {
	border-color: var(--black);
}

.project_search_area .search_map {
	height: 600px;
}

/*=============================
	Social media part
===============================*/
.social_media_area {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--background);
}

.social_media_area .widget_title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
}

.social_media_area .widget_title img {
	margin-right: 10px;
}

.social_media_area .widget_youtube {
	overflow: hidden;
}

.social_media_area .widget_youtube img {
	transition: var(--transision);
}

.social_media_area .widget_youtube:hover img {
	transform: scale(1.1);
}

.social_media_area .widget_youtube .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social_media_area .widget_inst .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--transision);
	opacity: 0;
}

.social_media_area .widget_inst {
	overflow: hidden;
}

.social_media_area .widget_inst img {
	transition: var(--transision);
}

.social_media_area .widget_inst:hover .icon {
	opacity: 1;
}

.social_media_area .widget_inst:hover img {
	transform: scale(1.1);
}

/*=============================
	Projects slider part
===============================*/
.projects_slider {
	background-color: var(--background);
	padding-top: 0px;
	padding-bottom: 80px;
}

.projects_slider .slider_item {
	height: 220px;
}

.projects_slider .icon {
	width: 40px;
	height: 40px;
	background-color: var(--white);
	border: 1px solid var(--white);
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	z-index: 9;
	top: 50%;
	transform: translateY(-50%);
	color: var(--primary);
	cursor: pointer;
	font-size: 16px;
	transition: var(--transision);
}

.projects_slider .icon:hover {
	background-color: var(--primary);
	color: var(--white);
	border-color: var(--primary);
}

.projects_slider .icon.left {
	left: -20px;
}

.projects_slider .icon.right {
	right: -20px;
}

/*=============================
	Contact area part
===============================*/
.contact_area {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	padding: 80px 0;
}

.contact_area a {
	width: 450px !important;
	height: 450px;
	border-radius: 50%;
	margin: 0 auto;
}

.contact_area .contact_item {
	width: 450px;
	height: 450px;
	border-radius: 50%;
	border: 4px solid var(--white);
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	position: relative;
	z-index: 9;
}

.contact_area .contact_item::after {
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: var(--primary);
	z-index: -1;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: var(--transision);
}

.contact_area .contact_item:hover::after {
	width: 92%;
	height: 92%;
	transform: translate(-50%, -50%) scale(1);
}

.contact_area .contact_item .title {
	font-size: 26px;
	font-weight: 600;
	color: var(--white);
}

.contact_area .contact_item p {
	color: var(--white);
	margin-top: 10px;
}


/*=============================
	Footer part
===============================*/
.footer_area {
	padding: 30px 0;
	border-top: 1px solid var(--border);
}

.footer_area .info a {
	color: var(--primary);
	text-decoration: underline;
}

.footer_area .social a {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	background-color: var(--primary);
	color: var(--white);
	font-size: 12px;
	margin-left: 3px;
}

.footer_area .social a:hover {
	background-color: var(--black);
}

/* scroll top part start */
.scroll-to-top {
	display: inline-block;
	background-color: var(--primary);
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: var(--white);
	text-align: center;
	border-radius: 5px;
	border: 0;
	position: fixed;
	bottom: -60px;
	right: 30px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	z-index: 99;
	cursor: pointer;
	transition: var(--transision);
}

.scroll-to-top::after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-to-top.show {
	opacity: 1;
	visibility: visible;
	bottom: 30px;
}

/* bread crumb part start */

/* pagination area */

.pagination {
	margin-top: 50px;
}

.pagination ul li {
	display: inline-block;
}

.pagination ul li a {
	background-color: var(--white);
	width: 40px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: var(--black);
	border: 1px solid rgba(198, 187, 159, 0.5);
	font-size: 14px;
	font-weight: 500;
	margin: 0 4px;
}

.pagination ul li a:hover {
	background-color: var(--primary);
	color: var(--white);
	border-color: var(--white);
}

.pagination ul li.active a {
	background-color: var(--primary);
	color: var(--white);
	border-color: var(--white);
}

/* bread crumb area start */
.breadcrumb_area {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

.breadcrumb_area .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 300px 0;
}

.breadcrumb_area .content .subtitle {
	font-size: 15px;
	font-weight: 600;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--primary);
	display: inline-block;
	padding: 7px 24px;
	border-radius: 3px;
}

.breadcrumb_area .content .title {
	font-size: 42px;
	line-height: 58px;
	font-weight: 300;
	color: var(--white);
	text-transform: uppercase;
	margin-bottom: 20px;
}

/* bread crumb area end */

/* about us area start */

.about_area .about_us .text {
	padding: 50px;
	padding-left: 30px;
	padding-bottom: 0;
}

.about_area .about_us .text .title {
	font-size: 42px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.about_area .about_us .text p {
	margin-top: 30px;
}

.about_area .about_us .text p a {
	color: var(--primary);
}

.who_we_are {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 80px;
	background-color: var(--background);
}

.who_we_are .text {
	padding-left: 30px;
}

.who_we_are .text p+p {
	margin-top: 30px;
}

.our_approach {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

.our_approach .overlay {
	padding: 80px 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.our_approach .overlay .title {
	font-size: 42px;
	font-weight: 300;
	text-transform: uppercase;
	color: var(--white);
	letter-spacing: 2px;
}

.our_approach .overlay p {
	color: var(--white);
	margin-top: 30px;
}

.about_area .our_logo {
	padding-top: 80px;
}

.about_area .our_logo .title {
	font-size: 42px;
	font-weight: 300;
	text-transform: uppercase;
	color: var(--black);
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.about_area .our_logo .image {
	padding: 60px;
	background-color: var(--white);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
}

.about_area .our_logo .text {
	padding-left: 30px;
}

.about_area .our_logo .text p {
	margin-bottom: 30px;
}

/* about us area end */
/* mission vision area start */
.mission_vision_area {
	padding: 80px 0;
	background-color: var(--background);
}

.mission_vision_area .mission_item {
	display: flex;
}

.mission_vision_area .mission_item:nth-child(even) {
	flex-direction: row-reverse;
}

.mission_vision_area .mission_item+.mission_item {
	margin-top: 50px;
}

.mission_vision_area .mission_item .box {
	width: 300px;
	height: 300px;
	background-color: var(--primary);
	border-radius: 5px;
	color: var(--white);
	padding: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 70px;
}


.mission_vision_area .mission_item:nth-child(even) .box {
	margin-left: 70px;
	margin-right: 0;
}

.mission_vision_area .mission_item .box .title {
	font-size: 28px;
	font-weight: 300;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.mission_vision_area .mission_item .text p+p {
	margin-top: 30px;
}


/* mission vision area end */
/* board of director area start */
.board_of_director {
	padding: 80px 0;
}

.board_of_director .director_item {
	display: flex;
	background-color: var(--background);
	border-radius: 10px;
	padding: 30px;
}

.board_of_director .director_item:nth-child(even) {
	flex-direction: row-reverse;
}

.board_of_director .director_item+.director_item {
	margin-top: 50px;
}

.board_of_director .director_item .image {
	width: 340px;
	height: 340px;
	border-radius: 5px;
	flex: 0 0 auto;
	margin-right: 70px;
	overflow: hidden;
}

.board_of_director .director_item:nth-child(even) .image {
	margin-left: 70px;
	margin-right: 0;
}

.board_of_director .director_item:nth-child(even) .text {
	text-align: right;
}

.board_of_director .director_item .text .name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.board_of_director .director_item .text .designation {
	font-size: 16px;
	font-weight: 400;
	color: #5e5e5e;
	text-transform: uppercase;
}

.board_of_director .director_item .text p {
	margin-top: 30px;
}

/* board of director area end */
/* management team area start */
.management_team {
	padding: 80px 0;
}

.management_team .team_title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.management_team .ceo {
	display: flex;
	border-radius: 10px;
	padding: 30px;
	background-color: var(--background);
	margin-bottom: 50px;
}

.management_team .ceo .image {
	width: 340px;
	height: 340px;
	border-radius: 5px;
	flex: 0 0 auto;
	margin-right: 70px;
	overflow: hidden;
}

.management_team .ceo .text .name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.management_team .ceo .text .designation {
	font-size: 16px;
	font-weight: 400;
	color: #5e5e5e;
	text-transform: uppercase;
}

.management_team .ceo .text p {
	margin-top: 30px;
}

.management_team .team_item {
	background-color: var(--background);
	border-radius: 10px;
	padding: 30px;
	height: 100%;
}

.management_team .team_item .image {
	border-radius: 5px;
	overflow: hidden;
}

.management_team .team_item .text {
	margin-top: 30px;
}

.management_team .team_item .text .name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.management_team .team_item .text .designation {
	font-size: 16px;
	font-weight: 400;
	color: #5e5e5e;
	text-transform: uppercase;
}

.management_team .team_item .text p {
	margin-top: 20px;
}

.management_team .team_item .text a {
	color: var(--primary);
	margin-top: 14px;
	font-weight: 500;
}

.management_team .team_item .text a:hover {
	text-decoration: underline;
}

.management_team .team_main {
	margin-bottom: 50px;
}

.management_team .team_groups .image {
	border-radius: 10px;
	overflow: hidden;
}

.management_team .team_groups .text p {
	margin-top: 30px;
}

/* management team area end */
/* companies area start */
.companies_area {
	padding: 80px 0;
	background-color: var(--background);
}

.companies_area .text .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.companies_area .text p {
	margin-bottom: 30px;
}

.companies_area .cm_item {
	position: relative;
}

.companies_area .cm_item .info {
	margin-bottom: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: var(--transision);
	transform: scale(0);
}

.companies_area .cm_item .info .title {
	font-size: 16px;
	font-weight: 500;
	color: var(--white);
}

.companies_area .cm_item:hover .info {
	transform: scale(1);
}

/* companies area end */
/* clients area start */
.clients_area {
	padding: 80px 0;
	padding-bottom: 0;
}

.clients_area .text .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.clients_area .text p {
	margin-bottom: 30px;
}

.clients_area .image {
	background-color: var(--background);
	margin-top: 30px;
	padding: 80px 0;
}

.clients_area .cm_item {
	position: relative;
}

.clients_area .cm_item .info {
	margin-bottom: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: var(--transision);
	transform: scale(0);
}

.clients_area .cm_item .info .title {
	font-size: 16px;
	font-weight: 500;
	color: var(--white);
}

.clients_area .cm_item:hover .info {
	transform: scale(1);
}

/* clients area end */

/* csr area start */
.csr_area {
	padding: 80px 0;
	background-color: var(--background);
}

.csr_area .text .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.csr_area .text p {
	margin-bottom: 30px;
}

.gallery_image {
	margin-top: 60px;
}

.gallery_image .gallery_item {
	overflow: hidden;
}

.gallery_image .gallery_item img {
	transition: var(--transision);
}

.gallery_image .gallery_item:hover img {
	transform: scale(1.1) rotate(2deg);
}

.gallery_image .gallery_item .overlay {
	background: rgba(0, 0, 0, .7);
	opacity: 0;
	transition: var(--transision);
}

.gallery_image .gallery_item .overlay a {
	color: var(--white);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	width: 50px;
	height: 50px;
	background-color: #3D5EE1;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.gallery_image .gallery_item:hover .overlay {
	opacity: 1;
}

/* csr area end */
/* projects area start */

.projects_area .portfolio-bg {
	padding: 80px 0;
	background-color: var(--background);
}

.projects_area .projects_btn {
	margin-bottom: 40px;
}

.projects_area .projects_btn button {
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #575c60;
	padding: 8px 20px;
	background-color: transparent;
	text-transform: uppercase;
	color: var(--black);
	margin-right: 16px;
}

.projects_area .projects_btn button.active {
	border-color: var(--primary);
	background-color: var(--primary);
	color: var(--white);
}

.projects_area .projects_body {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
}

.projects_item {
	width: 33.33333%;
	position: relative;
	overflow: hidden;
}

.projects_item .tagline {
	background-color: red;
	font-size: 18px;
	font-weight: 600;
	color: var(--white);
	position: absolute;
	top: 35px;
	left: -54px;
	padding: 8px 70px;
	transform: rotate(-45deg);
}

.projects_item img {
	transition: var(--transision);
}

.projects_item .info {
	background-color: var(--white);
	width: 85%;
	padding: 50px 30px;
	position: absolute;
	bottom: 0;
	transition: all 0.3s ease;
	margin-left: -40px;
	visibility: hidden;
	opacity: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.projects_item:hover .info {
	margin-left: 0px;
	visibility: visible;
	opacity: 1;
}

.projects_item:hover .info span {
	margin-top: 4px;
}

.projects_item:hover img {
	transform: scale(1.1) rotate(3deg);
}

.projects_area .common-btn {
	margin-top: 40px;
}

.projects_area .common-btn a {
	border: 1px solid #7e8488;
}

/* projects area end */
/* news and event area start */
.news_events {
	padding: 80px 0;
	background-color: var(--background);
}

.news_events .news_item {
	background-color: var(--white);
	height: 100%;
}

.news_events .news_item .text {
	padding: 30px;
}

.news_events .news_item .text .title {
	font-size: 18px;
	font-weight: 500;
	color: var(--black);
	transition: var(--transision);
	margin-bottom: 14px;
}

.news_events .news_item .text .title:hover {
	color: var(--primary);
}

.news_events .news_item .text .date {
	font-size: 14px;
	font-weight: 500;
}

.news_events .news_item .text .tagline {
	margin: 12px 0 24px 0;
}

.news_events .news_item .text .tagline span {
	background-color: var(--primary);
	color: var(--white);
	font-size: 15px;
	font-weight: 600;
	border-radius: 40px;
	padding: 5px 14px;
}

.news_events .news_item .text p {
	font-size: 15px;
}

.news_events .news_item .text .read_more {
	color: var(--primary);
	text-decoration: underline;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 15px;
}

.news_events .news_item .text .read_more:hover {
	letter-spacing: 1px;
}

/* news and event area end */
/* news details area start */
.news_details_area {
	padding: 80px 0;
	background-color: var(--background);
}


.news_details_area .text .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.news_details_area .text p {
	margin-bottom: 30px;
}

/* news details area end */
/* career area start */
.career_area {
	background-color: var(--background);
	padding-bottom: 80px;
}

.career_area .top_info {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	position: relative;
}

.career_area .top_info .overlay {
	width: 100%;
	padding: 77px 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
}

.career_area .top_info .overlay .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--white);
	margin-bottom: 20px;
}

.career_area .top_info .overlay .subtitle {
	font-size: 22px;
	font-weight: 300;
	color: var(--white);
}

.career_area .top_info .overlay p {
	margin-top: 24px;
	color: var(--white);
}

.career_area .form_area {
	padding-top: 60px;
}

.career_area .form_area .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--black);
	margin-bottom: 20px;
}

.career_area .form_area .input_groups {
	margin-bottom: 14px;
}

.career_area .form_area label {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 4px;
}

.career_area .form_area input,
textarea {
	width: 100%;
	height: 50px;
	border: 1px solid var(--border);
	padding: 0 20px;
	border-radius: 5px;
	transition: var(--transision);
}

.career_area .form_area input:focus {
	border-color: var(--black);
}

.career_area .form_area textarea {
	min-height: 170px;
	padding: 20px;
}

.career_area .form_area textarea:focus {
	border-color: var(--black);
}

.career_area .form_area input[type="file"] {
	padding: 10px;
}

.career_area .form_area .submit_btn {
	width: 100%;
	padding: 15px 30px;
	text-align: center;
	border: 0;
	background-color: var(--primary);
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	margin-top: 6px;
}

.career_area .form_area .submit_btn:hover {
	background-color: var(--black);
}

/* career area end */
/* contact area start */
.contact_areas .contact_top_info .image {
	width: 46%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}

.contact_areas .contact_top_info .text {
	width: 54%;
	padding: 50px;
}

.contact_areas .contact_top_info .text .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contact_areas .contact_top_info .text p {
	margin-top: 20px;
}

.contact_areas .contact_main {
	background-color: var(--background);
	padding: 60px 0 80px 0;
}


.contact_areas .contact_main .form_area .title {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--black);
	margin-bottom: 20px;
}

.contact_areas .contact_main .form_area .input_groups {
	margin-bottom: 14px;
}

.contact_areas .contact_main .form_area label {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 4px;
}

.contact_areas .contact_main .form_area input,
textarea,
select {
	width: 100%;
	height: 50px;
	border: 1px solid var(--border);
	background-color: var(--white);
	padding: 0 20px;
	border-radius: 5px;
	transition: var(--transision);
}

.contact_areas .contact_main .form_area input:focus {
	border-color: var(--black);
}

.contact_areas .contact_main .form_area textarea {
	min-height: 170px;
	padding: 20px;
}

.contact_areas .contact_main .form_area textarea:focus {
	border-color: var(--black);
}

.contact_areas .contact_main .form_area input[type="file"] {
	padding: 10px;
}

.contact_areas .contact_main .form_area .submit_btn {
	width: 100%;
	padding: 15px 30px;
	text-align: center;
	border: 0;
	background-color: var(--primary);
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	margin-top: 6px;
}

.contact_areas .contact_main .form_area .submit_btn:hover {
	background-color: var(--black);
}

/* contact area end */

/* project details area start */

.project_details_area {
	padding: 80px 0;
}

.project_details_area .projects_image {
	margin-bottom: 40px;
	overflow: hidden;
	border-radius: 10px;
}

.project_details_area .project_text .title {
	font-size: 40px;
	font-weight: 500;
}

.project_details_area .project_text p {
	margin-top: 24px;
	text-align: justify;
}

.project_details_area .project_text .inner_title {
	font-size: 28px;
	font-weight: 500;
	margin-top: 30px;
}

.project_details_area .project_text .solutions {
	margin-top: 30px;
}

.project_details_area .project_text .solutions .solutions_info li {
	color: #4d515f;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	padding-left: 30px;
}

.project_details_area .project_text .solutions .solutions_info li::before {
	font-family: "Font Awesome 5 Free";
	content: "\f058";
	left: 0px;
	position: absolute;
	color: #e02626;
}

.project_details_area .project_text .solutions .solutions_info li+li {
	margin-top: 10px;
}

.project_details_area .project_text .solutions_image {
	overflow: hidden;
	border-radius: 10px;
}

.project_details_area .project_text .solutions_image img {
	border-radius: 10px;
}

.project_details_area .client_information {
	background-color: #00071a;
	padding: 30px;
	border-radius: 10px;
	position: sticky;
	top: 120px;
}

.project_details_area .client_information .main_title {
	font-size: 26px;
	font-weight: 500;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.project_details_area .client_information .client_info li {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 20px;
}

.project_details_area .client_information .client_info .list_title {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
}

.project_details_area .client_information .client_info .subtitle {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.8;
	margin-top: 5px;
}

.project_details_area .video_area {
	padding: 80px;
	background-color: var(--black);
	margin-top: 80px;
}

.project_details_area .video_area .video_main img {
	transition: var(--transision);
}

.project_details_area .video_area .video_main:hover img {
	transform: scale(1.1) rotate(3deg);
}

.project_details_area .video_area .video_main .icon {
	padding: 60px;
	background-color: var(--black);
	margin-top: 80px;
}

.project_details_area .video_area .video_main .play_icon i {
	color: var(--white);
	font-size: 20px;
	padding: 17px 35px;
	border-radius: 10px;
	background-color: red;
	;
}

.project_details_area .vr_tour {
	background-color: var(--background);
	padding: 50px 0;
}

.project_details_area .vr_tour .vr_button {
	font-size: 28px;
	font-weight: 400;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--primary);
	display: inline-block;
	padding: 15px 54px;
	border-radius: 3px;
}

.project_details_area .vr_tour .vr_button:hover {
	background-color: var(--black);
}

.project_details_area .vr_tour .vr_button svg{
	width: 40px;
	margin-right: 18px;
	animation: rotate 2s infinite;
}

@keyframes  rotate {
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}

.project_details_area .location {
	background-color: var(--background);
	height: 600px;
}

.project_details_area .location iframe{
	width: 100% !important;
	height: 100% !important;
}

.project_details_area .book_now_area{
	padding: 80px 0;
}

.project_details_area .book_now_area .form_area{
	padding: 0;
}
/* project details area end */